{% extends "layout.html" %}
{% block content %}
<div class="container my-container">
	<div class="row my-row">
		<h2>{{user[0]['username']}}</h2>
	</div>
	<div class="row my-row">{{user[0]['fullname']}}</div>
	<div class="row my-row">
		{% if cur_user == user[0]['username'] %}
		<a class="a-link" href="/accounts/edit/">Edit profile</a>
		{% endif %}
	</div>
	<div class="row my-row">
		{% if cur_user == user[0]['username'] %}
		<a class="a-link" href="/accounts/logout/">logout</a>
		{% endif %}
	</div>
	<div class="row my-row">
		{% if following == '-1' %}
		{% elif following == '1' %}
			following
			<div class="button-pad">
				<form action="/u/{{user[0]['username']}}/" method="post" enctype="multipart/form-data">
					<input type="submit" name="unfollow" value="unfollow"/>
					<input type="hidden" name="username" value="{{user[0]['username']}}"/>
				</form>
			</div>
		{% elif following == '0' %}		
			not following
			<div class="button-pad">
				<form action="/u/{{user[0]['username']}}/" method="post" enctype="multipart/form-data">
					<input type="submit" name="follow" value="follow"/>
					<input type="hidden" name="username" value="{{user[0]['username']}}"/>
				</form>
			</div>
		{% endif %}
	</div>
	<div class="row my-row">
		{{num_posts}}
		{% if num_posts == 1 %}
			post
		{% else %}
			posts
		{% endif %}
	</div>
	<div class="row my-row">
		<a class = "a-link" href="/u/{{user[0]['username']}}/followers/"
		style ="text-decoration:none">
		{{num_followers}}
		{% if num_followers == 1 %}
			follower
		{% else %}
			followers
		{% endif %}
		</a>
		<div class="button-pad">
			<a class = "a-link" href="/u/{{user[0]['username']}}/following/"
			style ="text-decoration:none">
			{{num_following}} following
			</a>
		</div>
	</div>
	<div class="row my-row">
		{% if cur_user == user[0]['username'] %}
		<div class="content">
			<form action="/u/{{cur_user}}/" method="post" enctype="multipart/form-data">
				<input type="file" name="file">
				<input type="submit" name="create_post" value="upload new post"/>
			</form>
		</div>
		{% endif %}
	</div>
	<div class="row my-row">
		{% for post in user_posts %}
			<a href="/p/{{post['postid']}}/">
				<img src="/uploads/{{post['filename']}}" alt = ""
				width="290" height="200" style = float:left>
			</a>
		{% endfor %}
	</div>
	</div>
</div>
{% endblock content %}